<h3>
    Find all [Horror] titles from shows and movies from each year from 2005-2010 with ratings equal to the highest rating that year and sort them by name.
</h3>
    
    <!-- <p>Enter Genre</p>
    <input type="text" placeholder="Genre" id="Platform" name="Platform"><br></br>
    <p>Enter Min Year</p>
    <input type="number" placeholder="Min Year" id="Platform" name="Platform"><br></br>
    <p>Enter Max Year</p>
    <input type="number" placeholder="Max Year" id="Platform" name="Platform"><br></br> -->

    
    <form action="Query1" method="POST">
        <button type="submit" class="btn btn-primary">Go to Advanced Query 1</button>
    </form>


<h3>
    Find movies, users, and values of ratings from users who live in a country where a specific is available in the order of movie names.
</h3>
    
    <p>Enter Platform</p>
    
    <form action="Query2" method="get">
        <input type="text" placeholder="Platform" id="Platform" name="Platform"><br></br>
        <button type="submit" class="btn btn-primary">Submit Query 2</button>
    </form>

