<!DOCTYPE html>
<html>
  <head>
    <title>User Mesh Success</title>
    <style>
      body {
        font-family: 'Arial', sans-serif;
      }
      h1 {
        color: #0077be;
      }
      table {
        border-collapse: collapse;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
      }
      th {
        background-color: #0077be;
        color: white;
        font-weight: normal;
        text-align: left;
        padding: 8px;
      }
      td {
        border: 1px solid #ddd;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <h1>User Mesh Completed!</h1>
    <p>Showing Mesh Rating Stats for User <%= userId1 %> and User <%= userId2 %></p>
    <table>
      <thead>
        <tr>
          <th>Comparison</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < ratings.length-1; i++) { %>
          <tr>
            <td><%= ratings[i][0].comparison %></td>
          </tr>
        <% } %>        
      </tbody>
    </table>
  </body>
</html>
